body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px 10px;
  background: #1A2027;
  color: #BCBEC0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: 'Titillium Web', sans-serif;
}
